:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
@font-face {
    font-family: Acme;
    src: url(../fonts/Acme.ttf);
}
@font-face {
    font-family: Akronim;
    src: url(../fonts/Akronim.ttf);
}
body{
    font-family: Acme;
}
.login,
.image {
    min-height: 100vh;
}
.bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
}
.login-heading{
    text-align: center;
}
.login-heading>span {
    text-decoration: underline;
    text-decoration-color: #18ABA2; 
}
.btn-login {
    color:black;
    border-color: #999;
    border-radius: 25px;
    padding: 5px 25px 5px 25px;
}
.btn-login:hover{
    border-color: #495057;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}
.form-label-group>label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}
.form-label-group input::-ms-input-placeholder {
    color: transparent;
}
.form-label-group input::-moz-placeholder {
    color: transparent;
}
.form-label-group input::placeholder {
    color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
.mgreen{
    background-color: #18ABA2;
    border: none;
}
/*            .btn:hover{
    background-color:rgba(24, 171, 162, 0.76); 
    border: none;
}*/
.alignus{
    margin-bottom: 0px; 
    padding-bottom: 0px;
    padding-top: 0px
}

.know-us{
    color: white;
    text-align: justify;
    margin-top: 70px;
    padding: 180px;
    
    
}
.know-us>h1{
    margin-bottom: 25px;
    text-align: center;
}
.know-us>h1>.logo{
    font-family: Akronim;
}
.know-us>h1>.random{
    border-bottom: 3px solid #fff;
}
.know-us>div>button{
    border-radius: 25px;
    padding: 5px 25px 5px 25px;
}